{% extends 'base.html.twig' %}

{% block title %}AGBank{% endblock %}

{% block body %}

<div class="align-middle">
    <div class="mt-4 mb-4 align-middle">
        <div class="text-teal-900 text-4xl">Bem vindo ao AGBank 
            <div class="text-3xl inline items-center">✅
            </div>
        </div>
    </div>
    <div class="text-teal-700 text-xl mb-5">Veja nossas agências:<hr></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 gap-y-3">
        {% for key, agencia in agencias %}
            <div class="block w-2/3 h-2/3 shadow-xl border-transparent bg-teal-600 dark:bg-indigo-500 text-white rounded-md p-2 pb-3 mt-3">
                <div class="pb-1 font-bold">Agência {{agencia.nome}}</div>
                <div class="pb-4">{{ agencia.endereco }}</div>
                <a class="w-2/3 shadow-lg border-transparent text-center bg-emerald-700 hover:bg-emerald-900 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-1 mt-5 mb-2" href='{{ path('app_agencia', {id:key}) }}'>Acessar</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
