{% extends 'base.html.twig' %}

{% block title %}Hello ContaController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/aggc/Desktop/ProjetoPHP/AGBank/src/Controller/ContaController.php'|file_link(0) }}">src/Controller/ContaController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/aggc/Desktop/ProjetoPHP/AGBank/templates/conta/index.html.twig'|file_link(0) }}">templates/conta/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
